.div {
  width: 100%;
  eight: 100%;
  margin: 25% 0%;
  background: linear-gradient(to bottom right, #0033cc 0%, #99ff99 68%);
}
.card {
  margin: 0 auto;
  text-align: center;
  font-family: times new roman;
}

.title {
  color: grey;
  font-size: 18px;
}

button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 10px;
  color: #fafbfc;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

a {
  text-decoration: none;
  font-size: 50px;
  color: black;
}

button:hover, a:hover {
  opacity: 0.7;
}
